$color: rgb(57,169,237);

.el-breadcrumb{
  margin-bottom: 15px;
}

.el-card{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table{
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination{
  margin-top: 15px;
}
.ql-container{
  min-height: 200px;
}

.el-alert {
  margin-bottom: 15px;
}
.el-menu-item.is-active{
  background-color: rgb(41, 44, 54) !important;
}
.ql-editor{
  padding: 0;
}

.el-table{
  font-size: 14px !important;
}